.wrapper-main-content {
  overflow-x: hidden;
  .main-content {
    font-size: 248px;
    font-family: "Bebas Neue";
    line-height: 219px;
    position: relative;
    margin-top: 64px;

    .frontend-word {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background-color: $purple;
        width: 100%;
        height: 52%;
        left: 0;
        bottom: 64px;
        z-index: -1;
      }
    }

    .engineer-word {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background-color: $lime;
        width: 100%;
        height: 52%;
        left: 0;
        bottom: 64px;
        z-index: -1;
      }
    }

    .decor-1 {
      width: 328px;
      height: 328px;
      border-radius: 20px;
      background-color: $dark;
      position: absolute;
      right: -164px;
      bottom: -220px;
    }
  }

  .hello-section {
    margin-top: 440px;
    position: relative;

    .image-profile-section {
      position: absolute;
      left: 0;
      right: 0;
      width: 408px;
      margin: auto;
      top: -124px;

      &::after {
        content: "";
        z-index: -1;
        width: 33%;
        height: 50%;
        background-color: $dark;
        border-radius: 24px;
        position: absolute;
        top: -16px;
        right: -16px;
      }
    }

    .hello-word {
      font-family: "Bebas Neue";
      font-size: 432px;
      display: flex;
      justify-content: space-between;
      letter-spacing: -3%;
    }

    .me-section {
      .right-section {
        button {
          font-size: 32px;
          font-family: "Bebas Neue";
        }
      }
    }
  }

  .work-section {
    h1 {
      font-family: "Bebas Neue";
      font-size: 56px;
    }

    .list-portofolio-section {
      font-family: "Bebas Neue";
      font-size: 164px;

      .list-porto {
        display: flex;
        flex-direction: column;
        // gap: 20px;

        div {
          cursor: pointer;
        }
      }
    }
  }

  .quotes-section {
    position: relative;
    margin-top: 128px;
    overflow: hidden;

    .image-quotes {
      filter: grayscale(0.9);
      object-fit: cover;
    }

    .title-quotes {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      font-size: 96px;
      color: $light;
      text-align: center;
      font-family: "Bebas Neue";
      line-height: 98%;

      h3 {
        font-size: 32px;
        text-align: center;
        margin-top: 32px;
      }
    }
  }
}
