.wrapper-main-content {
  overflow-x: hidden;

  .main-content {
    width: 100vw;
    height: 100vh;
    font-size: 248px;
    font-family: "Bebas Neue";
    line-height: 219px;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -120px;

    h1 {
      .frontend-word {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          background-color: $purple;
          width: 100%;
          height: 52%;
          left: 0;
          bottom: 64px;
          z-index: -1;
        }
      }

      .engineer-word {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          background-color: $lime;
          width: 100%;
          height: 52%;
          left: 0;
          bottom: 64px;
          z-index: -1;
        }
      }
    }

    .decor-1 {
      width: 328px;
      height: 328px;
      border-radius: 20px;
      background-color: $dark;
      position: absolute;
      right: -64px;
      bottom: -220px;
    }
  }

  .hello-section {
    margin-top: 440px;
    position: relative;

    .image-profile-section {
      position: absolute;
      left: 0;
      right: 0;
      width: 408px;
      margin: auto;
      top: -124px;

      &::after {
        content: "";
        z-index: -1;
        width: 33%;
        height: 50%;
        background-color: $dark;
        border-radius: 24px;
        position: absolute;
        top: -16px;
        right: -16px;
      }
    }

    .hello-word {
      font-family: "Bebas Neue";
      font-size: 432px;
      display: flex;
      justify-content: space-between;
      letter-spacing: -3%;
    }

    .me-section {
      .right-section {
        button {
          font-size: 32px;
          font-family: "Bebas Neue";
        }
      }
    }
  }

  .work-section {
    h1 {
      font-family: "Bebas Neue";
      font-size: 56px;
    }

    .list-portofolio-section {
      font-family: "Bebas Neue";
      font-size: 164px;

      .list-porto {
        display: flex;
        flex-direction: column;
        // gap: 20px;

        div {
          cursor: pointer;
        }
      }
    }
  }

  .quotes-section {
    position: relative;
    margin-top: 128px;
    margin-bottom: 128px;
    overflow: hidden;

    .image-quotes {
      filter: grayscale(0.9);
      object-fit: cover;
    }

    .title-quotes {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      font-size: 96px;
      color: $lime;
      text-align: center;
      font-family: "Bebas Neue";
      line-height: 98%;

      h3 {
        font-size: 32px;
        text-align: center;
        margin-top: 32px;
      }
    }
  }

  .experience-section {
    text-align: center;
    h1 {
      font-family: "Bebas Neue";
    }

    .list-company-section {
      font-family: "Bebas Neue";
      font-size: 164px;

      .list-company {
        display: flex;
        flex-direction: row-reverse;
        // gap: 40px;
        width: 100vw;
        height: 100vh;
        background-color: #101010;

        div.company-box {
          min-width: 100vw;
          color: $light;
          display: flex;
          align-items: center;
          justify-content: center;

          &:first-child {
            background-color: $light;
            color: $dark;
          }
        }
      }
    }
  }

  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - $gapAnimation));
    }
  }

  @keyframes scrollReverse {
    to {
      transform: translateX(calc(+100% + $gapAnimation));
    }
  }

  .stack-section {
    height: 100vh;
    margin-top: 64px;

    h1 {
      font-family: "Bebas Neue";
    }

    .list-stack-wrapper {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: $gapAnimation;

      .list-stack {
        list-style: none;
        flex-shrink: 0;
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $gapAnimation;
        user-select: none;

        &.one {
          animation: scroll 32s linear infinite backwards;
        }

        &.two {
          animation: scrollReverse 32s linear infinite forwards;
        }

        &.three {
          animation: scroll 32s linear infinite backwards;
        }

        &.four {
          animation: scrollReverse 32s linear infinite forwards;
        }
      }
    }
  }

  .work-together-section {
    .row-work {
      display: flex;
      gap: $gapAnimation;
      font-size: 140px;
      font-weight: bold;
      flex-shrink: 0;
      min-width: 100%;
      width: 100%;
      flex-wrap: nowrap;

      h1 {
        &.one {
          animation: scroll 10s linear infinite backwards;
        }
        &.two {
          animation: scrollReverse 10s linear infinite backwards;
        }
        &.three {
          animation: scroll 10s linear infinite backwards;
        }
      }
    }
  }

  .footer-section {
    height: 800px;
    width: 100vw;
    margin-top: 96px;
    background-color: $dark;
    // border-top-left-radius: 64px;
    // border-top-right-radius: 64px;
    color: $light;
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);

    .top-section {
      padding: 94px 122px 148px 122px;

      .do-you-see-section {
        h1 {
          font-size: 40px;
          font-weight: bold;
          line-height: 52px;
          margin-bottom: 24px;
        }

        button {
          color: $dark;
          height: 42px;
          display: flex;
          align-items: center;

          span.title {
            padding: 10px 16px;
            border-radius: 8px;
            background-color: $lime;
          }

          span.icon-arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            height: 42px;
            border-radius: 8px;
            background-color: $lime;
            margin-left: -4px;

            img {
              rotate: 135deg;
            }
          }
        }
      }

      .socials-section {
        h1 {
          font-weight: bold;
          margin-bottom: 12px;
          font-size: 18px;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;

          // li {
          //   // nanti disini stylenya
          // }
        }
      }

      .contact-section {
        h1 {
          font-weight: bold;
          margin-bottom: 12px;
          font-size: 18px;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;

          li {
            display: flex;
            align-items: center;
            gap: 8px;

            &:last-child {
              align-items: flex-start;
              line-height: 32px;
            }
          }
        }
      }
    }

    .bottom-section {
      color: $light;

      .my-name {
        font-size: 148px;
        font-weight: bold;
      }
    }
  }
}
